@ac.internal.page("descriptor") {

} {
    <h2>Defining your own descriptor.</h2>

    <h3>Override the root URL</h3>
    <p>In your <code>routes</code> file:</p>
    @ac.aui.message() {
        <code>GET       /                           controllers.Application.index()</code>
    }
    <p>Make sure this comes <em>before</em> the included routes from this module, represented by:</p>
    @ac.aui.message() {
        <code>->        /                           ac.Routes</code>
    }

    <h3>Define your descriptor template</h3>
    <p>Create template <code>app/views/descriptor.scala.xml</code>, with the following content:</p>

    @ac.aui.message() {
        <code><pre>
@@ac.descriptor() { @@* using the base descriptor template. *@@
    &lt;plugin-info>
        &lt;description>This is my awesome plugin built using Play!&lt;/description>
        &lt;version>1.0-SNAPSHOT&lt;/version>
        &lt;permissions>
            &lt;permission>create_oauth_link&lt;/permission> @@* this permission is needed to create the OAuth link between the plugin and the host application. *@@
        &lt;/permissions>
    &lt;/plugin-info>
} {
    @@* your modules will go there *@@
}
            </pre></code>
    }

    <h3>Define your <code>Application.index()</code> action</h3>
    <p>Create controller <code>app/controllers/Application.scala</code>, with the following content:</p>

    @ac.aui.message() {
            <code><pre>
package controllers

import com.atlassian.connect.playscala.controllers.AcController;


object Application extends AcController {

  def index() = index(descriptor = descriptor().some)       // serve the descriptor when accept header is 'application/xml', try 'curl -H "Accept: application/xml" http://localhost:9000'

  private def descriptor() = Action {
    Ok(views.xml.descriptor())
  }
}
            </pre></code>
    }

    @ac.aui.success("That's it!") {
        <p>You're ready to add your own modules to your plugin.</p>
    }
}
