<header id="header" role="banner">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-primary">
            <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="https://bitbucket.org/atlassianlabs/atlassian-connect-play-scala"><span class="aui-header-logo-device">Atlassian Connect</span></a></h1>
        </div>
    </nav>
</header>